.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}